body {
    background-image: url('bg1.JPG');
    width: 20px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh; /* Set the height to cover the viewport */
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.overlay {
    background: linear-gradient(rgba(8, 23, 233, 0.753), rgba(78, 87, 219, 0.993)); /* Adjust the color and transparency here */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
